.header {
   background-color: #20232a;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(130px, 200px) minmax(400px, 940px) minmax(150px, 300px);
    grid-column-gap: 10px;
    align-items: center;
 }


